.thumbnail{
    padding: 0;
}

.thumbnail img{
    width: 100%;
}

.thumbnail .caption-full{
    padding: 9px ;
}

#delete-form{
    display: inline;
}

#comment_delete{
    display: inline;
}

/*
-Google Maps-
 styles the map div on the (views/campgrounds/show.ejs) file 
*/

#map{
    height: 400px;
    width: 100%;
}